<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <div class="container">
    <h1>"@Model.GetTitle()" by @Model.GetArtist()</h1>

    <a href='/cds/new'>Add another cd</a>
    <a href='/cds'>View all cds</a>
  </div>
</html>
