<h1>Cd Organizer</h1>
<h3>Add a new Cd:</h3>
<form action='/cds' method='post'>
  <label for='cd-title'>Cd Title</label>
  <input id='cd-title' name='cd-title' type='text'>
  <label for='cd-artist'>Cd Artist</label>
  <input id='cd-artist' name='cd-artist' type='text'>
  <button type='submit'>Add Cd</button>
</form>
