<h1>Cd Organizer</h1>
<h3>Add a new Cd:</h3>
<form action='/searchbyartist' method='post'>
  <label for='cd-artist-search'>Search by Artist</label>
  <input id='cd-artist-search' name='cd-artist-search' type='text'>
  <button type='submit'>Search Cds</button>
</form>
