<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <div class="container">
    <h1>CD Organizer</h1>
    <h3>Add a new Cd:</h3>
    <form action='/searchbyartist' method='post'>
      <label for='cd-artist-search'>Search by Artist</label>
      <input id='cd-artist-search' name='cd-artist-search' type='text'>
      <button type='submit'>Search Cds</button>
    </form>
  </div>
</html>
